
.theme-zinc {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;

  --radius: ;
}

.dark .theme-zinc {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;
}

.theme-slate {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;

  --radius: ;
}

.dark .theme-slate {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;
}

.theme-stone {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;

  --radius: ;
}

.dark .theme-stone {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;
}

.theme-gray {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;

  --radius: ;
}

.dark .theme-gray {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;
}

.theme-neutral {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;

  --radius: ;
}

.dark .theme-neutral {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;
}

.theme-red {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;

  --radius: ;
}

.dark .theme-red {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;
}

.theme-rose {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;

  --radius: ;
}

.dark .theme-rose {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;
}

.theme-orange {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;

  --radius: ;
}

.dark .theme-orange {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;
}

.theme-green {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;

  --radius: ;
}

.dark .theme-green {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;
}

.theme-blue {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;

  --radius: ;
}

.dark .theme-blue {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;
}

.theme-yellow {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;

  --radius: ;
}

.dark .theme-yellow {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;
}

.theme-violet {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;

  --radius: ;
}

.dark .theme-violet {
  --background: ;
  --foreground: ;

  --muted: ;
  --muted-foreground: ;

  --popover: ;
  --popover-foreground: ;

  --card: ;
  --card-foreground: ;

  --border: ;
  --input: ;

  --primary: ;
  --primary-foreground: ;

  --secondary: ;
  --secondary-foreground: ;

  --accent: ;
  --accent-foreground: ;

  --destructive: ;
  --destructive-foreground: ;

  --ring: ;
}